.App {
  text-align: center;
}

.logo {  
  height: 110px;
}

.App-header {
  background-color: #222;
  height: 180px;
  padding: 10px 0px 30px 0px;
  color: white;
}

.App-intro {
  font-size: large;
}

.clear {
  clear: both;
}

.sq {
  width: 33%;
  height: 50px;
  padding: 2px;
  display: inline-block;
  border: 1px solid red;
}

.green {
  color: #449D44;
}

.blue {
  color: #0000FF;
}

.sqbtn {
  font-size: 15pt;
  width: 45px;
  height: 45px;
  border: 1px solid black;
}